{% extends 'base.html' %}



{% block app_content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
    <h2 class="text-center">Register</h2>
    <!-- {% for field, errors in form.errors.items() %}
    <div class="alert alert-error">
    {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %} -->
    <div class="row">
        <div class="col-md-4">
            <!-- empty div -->
        </div>
        <div class="col-md-6">
            <form action="" method='POST'>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }} <br>
                    {{ form.email(size=38) }}
                    {{ form.email.errors}}
                </p>
                <p>
                    {{ form.username.label }} <br>
                    {{ form.username(size=38)}}
                    {{ form.username.errors }}
                    {% for error in form.password.errors  %}
                    <p class='text-danger'>{{error}}</p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }} <br>
                    {{ form.password(size=38) }}
                    {{ form.password.errors }}
                    {% for error in form.password.errors  %}
                    <p class='text-danger'>{{error}}</p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.confirm_password.label }} <br>
                    {{ form.confirm_password(size=38) }}
                    {% for error in form.confirm_password.errors  %}
                        <p class='text-danger'>{{error}}</p>
                    {% endfor %}
                </p>
                <p> {{ form.submit() }}</p>
            </form>
        </div>
        <div class="col-md-3">
            <!-- empty div -->
        </div>
    </div>
{% endblock %}