
{% block styles %}
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock%}

<!-- {% block title %}
    {% if title %}
        {{ title }} - Blog App
    {% else %}
        Welcome to Blog App 
    {% endif %}
{% endblock %} -->



{% block navbar %}

    {% include 'navbar.html' %}

{% endblock %}

{% block content %}
    <div class="container">
        {% block flash_message %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                {{ message}}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        {% endblock %}
        
        {% block app_content %}
        <!-- content -->
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}


